.row
  .endpoint.card.panel(ng-repeat="endpoint in endpoints")
    .panel-heading
      h3
        a(href="#/{{endpoint.identifier}}") {{endpoint.name}}
    .panel-body
      .list-group(ng-if="!endpoint.methods.length")
        span.label.label-warning Undocumented
      .list-group(ng-if="endpoint.methods.length")
        a.list-group-item(
          ng-repeat="method in endpoint.methods",
          href="#/{{endpoint.identifier}}/{{method.HTTPMethod}}{{method.URI}}")
            | {{method.HTTPMethod}} {{method.URI}}

