.form-group.parameter

  label.col-sm-2(ng-if="!variableName") {{parameter.Name}}
  .col-sm-2(ng-if="variableName")
    input.form-control(type="text", placeholder="parameter name", ng-model="parameter.currentName")

  .col-sm-10
    .input-group
      parameter-input(param = "parameter")
      .input-group-addon
        input.is-active(ng-disabled="!switchable", type="checkbox", ng-model="parameter.active")
      
    .caption
      .pull-right
        .btn-group.btn-group-sm
          button.btn.btn-default(type="button", ng-if="repeatable", ng-click="addParam()") add
          button.btn.btn-default(type="button", ng-if="removable", ng-click="removeParam()") remove
        span.type {{type}}
      span.description.help-block {{parameter.Description}}

