ng-switch(on="parameter.Type")
  textarea.form-control(ng-change="change()", ng-model="parameter.currentValue", ng-switch-when="XML")
  input.form-control(ng-change="change()", ng-model="parameter.currentValue", ng-switch-when="Integer", numeric, type="number")
  button.btn.btn-default.boolean(ng-change="change()", ng-model="parameter.currentValue", ng-switch-when="boolean", btn-checkbox)
    | {{parameter.currentValue || false }}
  select.form-control(ng-change="change()", ng-model="parameter.currentValue", ng-switch-when="enumerated")
    option(ng-repeat="o in parameter.EnumeratedList") {{o}}
  input.form-control(type="text", ng-required="{{parameter.required}}", update-on-blur, typeahead="s for s in getSuggestions()", ng-change="change()", ng-model="parameter.currentValue", ng-switch-default)
