.navbar.navbar-custom.navbar-default.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      .row
        .col-sm-4
          span.navbar-brand
            span.muted.hidden-sm.hidden-xs API for
            | &nbsp;
            span.api-name #{apiInfo().name}

        .col-sm-2
          ul.nav.navbar-nav
            li.active
              a(href="#")
                | API version &nbsp;
                span.badge {{apiInfo.apiVersion}}
        .col-sm-6(ng-controller="AuthCtrl")
          form.navbar-form.navbar-right
            .form-group
              .input-group
                span.input-group-addon
                  span(ng-show="auth.loggedIn")  Logged in {{auth.username ? 'as ' + auth.username : 'anonymously'}}
                  span(ng-hide="auth.loggedIn") Not logged in
                input.form-control(ng-hide="auth.loggedIn", type="text", ng-model="auth.token", placeholder="API token")
                span.input-group-btn(ng-if="auth.loggedIn")
                  button.btn.btn-default(ng-click="logOut()") Log Out

