// views/api

- var authed = (session.authed && apiInfo.oauth && apiInfo.oauth.type == 'three-legged') ? 'authed' : ''

include api/header

include credentials

div(id='controls')
  ul
    li
      a#toggle-endpoints(href='#') Toggle All Endpoints
    li
      a#toggle-methods(href='#') Toggle All Methods

ul
  each endpoint in apiDefinition.endpoints
    include endpoint

// end views/api
