// views/api

- var authed = (session.authed && apiInfo.oauth && apiInfo.oauth.type == 'three-legged') ? 'authed' : ''

include api/header

div.main.container-fluid

  ul
    each endpoint in apiDefinition.endpoints
      include endpoint

// end views/api
