// views/custom

extends ng-layout

h1='Add an API'

block content

  .navbar.navbar-custom.navbar-default.navbar-fixed-top(role="navigation")
    .container-fluid
      .navbar-header
        .row
          .col-sm-10
            span.navbar-brand Add an InterMine Web-Service
          .col-sm-2
            ul.nav.navbar-nav
              li
                a(href="/")
                  i.glyphicon.glyphicon-th-large
                  |  See all

  div.constainer-fluid

    if error
      .alert.alert-danger
        p #{ error }

  form.form-horizontal.custom(method='POST')

    .form-group
      label.col-sm-2.control-label(for='slug')
        span Name
      .col-sm-10
        input.form-control(required="true", type='text', name='slug')
    .form-group
      label.col-sm-2.control-label(for='name')
        span Description
      .col-sm-10
        input.form-control(type='text', name='name')
    .form-group
      label.col-sm-2.control-label
        span URI
      .col-sm-10
        .input-group
          span.input-group-addon http://
          input.span3.form-control(required="true", type='text', name='baseURL')
          span.input-group-addon /
          input.span3.form-control(required="false", type='text', name='publicPath')
          span.input-group-addon /service

    input(type='hidden', name='protocol', value='http')
    input(type='hidden', name='version', value='/version')
    input(type='hidden', name='auth', value='key')
    input(type='hidden', name='intermine', value='true')
    input(type='hidden', name='keyParam', value='token')
    input(type='hidden', name='booleanTrueVal', value='true')
    input(type='hidden', name='booleanFalseVal', value='false')

    button.btn.btn-large.btn-primary(type='submit', value='add')
      i.glyphicon.glyphicon-floppy-disk 
      |  Add

block scripts
  script(src='/javascripts/vendor/angular.min.js')

// end views/custom
