// views/endpoint

li.endpoint.row(id = endpoint.identifier)
  h3.title
  span.name=endpoint.name
  ul.actions
    if endpoint.minVersion
      span.since
        | Since version:
        span.version=endpoint.minVersion
  ul.methods
    each method in endpoint.methods
      include method

// end views/endpoint
