!!! 5
html(ng-app="iodocs")
    head
        - if (apiInfo().name)
            - var title = apiInfo().name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title

        link(rel='stylesheet', href='/stylesheets/prettify.css')
        link(rel='stylesheet', href='/stylesheets/angular.treeview.css')
        link(rel='stylesheet', href='/stylesheets/' + config.theme + '-bs.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        #io-footer
          span.credit
            | &copy; &nbsp;
            a(href='http://mashery.com/io') Mashery, Inc.
            | &nbsp; and &nbsp;
            a(href='http://www.intermine.org') InterMine
          .tech
            | Powered by 
            a(href='https://github.com/alexkalderimis/iodocs') I/O Docs

        block content

        script(src='/javascripts/vendor/json2.js')
        
        block scripts

