// views/listAPIs

extends ng-layout

h1=title

block content

  h2 Choose an API

  ul.api-list
    - for (var api in apis)
      li
        a(href = '/' + api + '/docs') #{apis[api].name}

  a.btn.large(href = 'custom') Add a web-service.
