// views/listAPIs

extends layout

h1=title

block content

  .navbar.navbar-custom.navbar-default.navbar-fixed-top(role="navigation")
    .container-fluid
      .navbar-header
        .row
          .col-sm-4
            span.navbar-brand
              a(href= '/')
                i.glyphicon.glyphicon-home
            span.navbar-brand Choose an API

  .main.container-fluid
    .row
      - for (var api in apis)
        .panel.card.panel-default
          .panel-heading
            h3
              a(href= '/' + api + '/docs') #{apis[api].name || api}
          .panel-body
            p
              = apis[api].baseURL

    .row
      .col-sm-3.col-sm-offset-4
        a.btn.btn-large.btn-primary.add-api(href = 'custom') Add a web-service.
