// views/ng-api

extends ng-layout

block content

  include ng/header

  .main.container-fluid
    .row(ng-view)

block scripts
  script(src='/javascripts/vendor/angular.min.js')
  script(src='/javascripts/vendor/angular-route.min.js')
  script(src='/javascripts/vendor/angular-sanitize.min.js')
  script(src="/javascripts/vendor/angular-xml.min.js")
  script(src='/javascripts/vendor/ui-bootstrap-tpls-0.10.0.js')
  script(src='/javascripts/vendor/angular.treeview.js')
  script(src='/javascripts/vendor/prettify.js')
  script(src='/javascripts/vendor/markdown.js')
  script(src='/javascripts/services.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/directives.js')
  script(src='/javascripts/app.js')

// end views/ng-api
